extends layout

block content
	main.text-light
		div.alert.alert-danger(role="alert") DestinyReminders is experiencing some difficulties at the moment. Some email reminders might not be sent. Please be patient while the issue is resolved.
		div.container
			div#selection_header.row.d-none
				div.col-6.pt-2.name
				div.col-5.d-none.search-choice
					input.form-control.border-right-0(type="search", placeholder="Search", id="search")
				div.col-1.pt-2.ml-auto
					button#close_selection.close(type="button", aria-label="Close")
						span &times;
			div#main_selection.row
				each category, key in wishlist
					- var isNeeded = category.values.some(choice => choice.neededFor.some(f => f.value));
					div.col-12.col-sm-6.col-md-4.col-lg-3
						div.container.category(
							id="category_" + key,
							class=isNeeded ? "needed" : "",
							data-category=key,
							data-needed=isNeeded,
							data-description=helpers.capitalize(category.description)
						)
							div.row.h-100.no-gutters.align-items-center
								div.col-3
									img.category-icon.mw-100(src="/img/"+key+".png")
								div.col-9.pl-2= helpers.capitalize(category.description)
			div#parked.d-none
				each category, key in wishlist
					each choice in category.values
						-
							var isCurrent = helpers.isCurrent(key, choice.name, current);
							var neededFor = choice.neededFor.filter(f => f.value);
						div.col-12
							div.choice(
								class=isCurrent ? "current" : "",
								class=neededFor.length > 0 ? "needed" : "",
								data-category=key,
								data-choice=helpers.capitalize(choice.name)
								data-needed=neededFor.length > 0,
								data-needed-for=JSON.stringify(neededFor),
								data-current=isCurrent
							)= helpers.capitalize(choice.name)
			
			div#reminder_modal.modal(tabindex="-1")
				div.modal-dialog
					div.modal-content
						div.modal-header
							h5.modal-title Modal title
							button.close.close-modal(type="button", aria-label="Close")
								span(aria-hidden="true") &times;
						form
							div.modal-body
								div.form-group
									small#reminder_current.form-text.d-none This activity is available now
									small#reminder_needed.form-text.d-none
								div.form-group
									label(for="reminder_email") Email
									input#reminder_email.form-control(type="email", required, disabled=!user, name="reminder_email", aria-describedby="email_help")
									small#email_help.form-text.text-muted We'll never share your email with anyone else.
							div.modal-footer
								button.btn.btn-secondary.close-modal(type="button") Close
								if user
									button#set_reminder.btn.btn-light(type="submit")
										span.spinner(role="status", aria-hidden="true")
										| Set Reminder
								else
									a#reminder_login.btn.btn-warning(href="/auth/login") Login to set reminder
